<h1>Hey <%= @user.first_name %>!</h1>
<% if @user == current_user %>


<h2>Recommended Events</h2>
<ol>
  <% @user.friends.each do |friend| %>
  <%  if friend.events.count > 0%>
  <li><%=link_to "#{friend.events.first.name}"%></li>
  <% end %>
  <% end %>
</ol>

<h2>Followers</h2>
<div class="container">
<div class="row">
  <% Friendship.where(friend_id: current_user.id).each do |friend| %>
  <a href=<%=user_path(User.find_by_id(friend.user_id))%>><img src=<%=User.find_by_id(friend.user_id).img%> id="mini-img"></a>

  <% end %>
  </div>
</div>
<br>

<h2>Following</h2>
<div class="container">
<div class="row">
  <% @user.friends.each do |friend| %>
<a href=<%=user_path(friend)%>><img src=<%=friend.img%> id="mini-img"></a>
  <% end %>
</div>
</div>
<br>


<%else %>
<p>You’re not logged in!</p>
<%end %>

