<div class="container">

<h1>Hey <%= @user.first_name %>!</h1><br>


<h2>What Your Friends Are Up To:</h2>
<div class="row">
<div class="card-columns">
  <% @user.friends.each do |friend| %>
    <%  if friend.events.count > 0%>
    <% event = friend.events.first %>
      <div class="col-lg-6 col-md-12">
       <div class="card">
        <img class="card-img-top" src=<%=event.img%>>
        <div class="card-body">
          <h4><%= link_to event.name, event_path(event), class: "card-title text-uppercase" %></h4>
          <p class="card-text">
            <p><strong>Date:</strong> <%= TheDate.format_date(event.the_date.date_time) %></p>
            <p><strong>Location:</strong> <%= event.location.name %></p>
          </p>
          <%= link_to 'Add to my events', addevent_path(event), :method => :post, class: "btn btn-outline-primary"%>
        <br>
      </div>
    </div>
    </div>
    <%end%>
    <%end%>
</div>
</div>

<br>

<h2>Followers</h2>
<div class="container">
<div class="row">
  <% Friendship.where(friend_id: current_user.id).each do |friend| %>
  <a href=<%=user_path(User.find_by_id(friend.user_id))%>><img src=<%=User.find_by_id(friend.user_id).img%> id="mini-img"></a>

  <% end %>
  </div>
</div>
<br>

<h2>Following</h2>
<div class="container">
<div class="row">
  <% @user.friends.each do |friend| %>
<a href=<%=user_path(friend)%>><img src=<%=friend.img%> id="mini-img"></a>
  <% end %>
</div>
</div>
<br>

</div>
