<h1><%=@user.first_name%>'s Event Page</h1>

<h2>Here are <%=@user.first_name%>'s upcoming events:</h2>
 <ol>

<% @user.events.each do |event| %>

    <li> <p>Name: <%= link_to event.name, event_path(event) %></p> <p>Date: <%= link_to TheDate.format_date(event.the_date.date_time), the_date_path(event.the_date) %> </p> <p>Location: <%= link_to event.location.name, location_path(event.location) %></p> <p> <%= link_to 'Remove From My Events', deleteevent_path(event), :method => :post%></p> <br> </li>
  <%end%>
    </ol>

  <h3>Events in <%= link_to @user.location.name, location_path(@user.location)%></h3>
  <h3> <%= link_to "Events in Other Cities", locations_path%></h3>
  <h4><%= link_to "Edit Your Account", edit_user_path(@user) %></h4>
