<div class="container">

<h1>All Events</h1>
<br>
<%= form_tag(events_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search', class: "btn btn-secondary" %>
<% end %>
<br>
<ul>
<% @events.each do |event|%>
<li>
  <p><%= link_to event.name, event_path(event) %>: </p>
  <p><%= TheDate.format_date(event.the_date.date_time) %> at <%= TheDate.format_time(event.the_date.date_time) %> in <%= link_to event.location.name, location_path(event.location)%> </p><br>
  </li>
<%end%>
</ul>
<%= link_to "Create New Event", new_event_path, class: "btn btn-success btn-lg" %>

<%= will_paginate @events %>
</div>