<div class="container">

<div class="container">
<div class="row">
<%= image_tag "#{@event.img}", class: "col align-self-start", id: "profile-image" %>
<h1 class="col-3"><strong> <%= @event.name %></strong> </h1>
<h2 class="col-3"> <%= TheDate.format_date(@event.the_date.date_time) %> at <%= TheDate.format_time(@event.the_date.date_time) %>  </h2>
<h3 class="col-3"><%= @event.address%>, <%= @event.location.name %></h3>
<h4 class="col-md-9 ml-md-auto" id="event-desc"> <%= @event.description %><br>
<%=link_to "Add to My Events", addevent_path, :method => :post, class: "btn btn-outline-success btn-lg" %>
</h4><br>
</div>
</div>

<br>
<div class="row">
<span class="col-6">
<h3>Categories:</h3>
<ul>
<% @event.categories.each do |category|%>
<li><%= link_to category.name, category_path(category) %> </li>
<%end%>
</ul>
<br>


<h3>Attending:</h3>
  <div class="container">
    <div class="row">
      <% @event.users.each do |user| %>
      <a href=<%=user_path(user.id)%>><img src=<%=user.img%> id="mini-img"></a>
      <%end%>

</div>
</div>
</span>
<br>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXzzycWLXq_LM95pL4WiFW52J2X3djTeE
    &q=<%=@event.address%>" allowfullscreen
    class="col-6">
</iframe>

</div>
<h3><%=link_to "All Events", events_path, class: "btn btn-outline-primary btn-lg" %></h3>

<!-- <p><%=link_to "Edit", edit_event_path(@event) %></p> -->

</div>
