<h1><strong> <%= @event.name %></strong> </h1>
<h2> <%= TheDate.format_date(@event.the_date.date_time) %> at <%= TheDate.format_time(@event.the_date.date_time) %>  </h2>
<h3><%= @event.address%>, <%= @event.location.name %></h3>
<%= image_tag "#{@event.img}" %>
<p> <%= @event.description %> </p><br>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXzzycWLXq_LM95pL4WiFW52J2X3djTeE
    &q=<%=@event.address%>" allowfullscreen>
</iframe><h4>Categories:</h4>
<ul>


<% @event.categories.each do |category|%>
<li><%= link_to category.name, category_path(category) %> </li>

<%end%>
</ul>
<br>


<h3>Attending:</h3>
<ul>
<% @event.users.each do |user| %>
<li> <%= link_to user.first_name, user_path(user) %> </li>
<%end%>
</ul>

<br>
<h4><%=link_to "Add to My Events", addevent_path, :method => :post %></h4>
<br>

<p><%=link_to "Events", events_path %></p>

<!-- <p><%=link_to "Edit", edit_event_path(@event) %></p> -->

<%= link_to "Create New Event", new_event_path %>
