<h1><%= @category.name.capitalize %> Events</h1>
<ul>
<% @events.each do |event| %>
  <li><%= link_to event.name, event_path(event) %>:
  <p><%=link_to "#{TheDate.format_date(event.the_date.date_time)}"%> in <%= link_to event.location.name, location_path(event.location) %></p></li>
<%end%>
</ul>
<br>
<h4><%= link_to "All Categories", categories_path %></h4>