<!DOCTYPE html>
<html>
  <head>
    <title>Let's Have Fun Together</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>

  </head>

  <body>

      <% if current_user %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%=link_to "LET'S", dashboard_path(current_user), class: "navbar-text"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item"><%= link_to "Dashboard", dashboard_path(current_user), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "#{current_user.first_name}'s Event Page", user_path(current_user), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "All Events in #{current_user.location.name}", location_path(current_user.location), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Log Out", logout_path, method: :delete, class: "nav-link" %></li>

      <li class="nav-item dropdown ju">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "All Events", events_path, class: "dropdown-item" %>
          <%= link_to "Events By Category", categories_path, class: "dropdown-item" %>
          <%= link_to "Events By Date", the_dates_path, class: "dropdown-item" %>
          <%= link_to "Events By Location", locations_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
      <form class="form-inline my-2 my-lg-0" action="/events" accept-charset="UTF-8" method="get">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="term" id="term">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
      <%else%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-text" href="#">LET'S</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "Login", login_path, class: "nav-link" %></li>
      <li class="nav-item">
        <li class="nav-item"><%= link_to "Sign Up", signup_path, class: "nav-link" %></li>
    </ul>
  </div>
</nav>

      <%end%>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

<br>
  <footer class="footer p-3 mb-2 bg-secondary">
    <div class="container">
      <span class="text-white">Let's Have Fun Together</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>

</html>
